@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root{
    --font01: 'Great Vibes', cursive;
    --font02:'Caveat', cursive;/*carta*/
    --cora: #24C5E0;
    --corb: #E58FC4;
    --corc: #19E0C2;
    --cord: #E06602;
    --core: #4FE09E;
}

* {
    margin: 0px;
    border: 0px;
}

body{
    background-image: linear-gradient(to left, var(--cora), var(--corc));
}

header{
    text-align: center;
    background-color: var(--corb);
    width: 90%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.534);
}

header h1{
    font-family: var(--font01);
    font-size: 5vw;
}

header p{
    font-weight: bold;
    color: rgb(255, 19, 19);
}

p{
    font-size: 3.5vw;
    font-family: var(--font02);
    padding: 10px;
}

section{
    background-color: white;
    width: 80vw;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.534);
}
img{
    margin: auto;
    display: block;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.534);
}

#final{
    max-width: 430px;
    height: 90vh;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-image: url(../imagens/final.jpeg);
}

footer{
    background-color: #E58FC4;
    text-align: center;
    font-family: var(--font01);
    font-size: 4vw;
    color: white;
}

